/*值德手机端css*/
*{margin: 0;padding:0;}
body{font-family: "Arial","Microsoft Yahei";-webkit-font-smoothing: antialiased;user-select: none;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
/*a:link { text-decoration:underline; }*/
img { border:none; }
ol,ul,li { list-style:none; }
/*头部css*/
.header{width: 100%;height: 1.866667rem;background: #C81432;overflow: hidden;position: relative;}
.header .m_logo{width: 8.666667rem;height: 1.866667rem;float: left;text-align: center; line-height:1.866667rem;}
.header .navs{width: 1.333333rem;height: 1.866667rem;float: left;text-align: center;}
.header .m_logo img{width: 3.653333rem;height: 0.906667rem;vertical-align: middle;line-height:height: 0.906667rem;margin-left: 1.4rem;}
.header .navs .nav_button{width: 0.4rem;height: 0.426667rem;margin-left: 34%;margin-top:55%;}
.nav_button ul li{width: 100%;height: 0.08rem;background: #e6e2e2;}
.nav_button ul li:nth-child(2){margin-top: 0.066667rem;margin-bottom: 0.08rem;}
/*导航*/
.nav{width: 3.04rem;height: 3.04rem;position: absolute;z-index: 100;right: 0;display: none;}
.nav li{width: 3.04rem;height: 1.12rem;background-color: #C4AE78;border-bottom: 0.026667rem solid #aaa;margin-top: 0px;text-indent: 0.7rem;}
.nav li a{color: #fff;font-size: 0.373333rem;line-height: 1.12rem;}
/*首页中部*/
.swiper-slide img{height: 14.933333rem;}
.swiper-button-next, .swiper-button-prev {background-size:30px 18px;width: 1.253333rem;height: 1.253333rem;background-repeat: no-repeat;background-color: black;opacity: .7;border-radius: 6px;}
.test{width: 100px;height: 100px;background-color: red;position: absolute;top: 20px;left: 20px;}
.explanatoryNote{width: 6.666667rem;height: 11.306667rem;position: absolute;left: 2.666667rem;top: 2.4rem;}
.explanatoryNote h6{font-size: 1.066667rem;color: #C4AE78;font-weight: 200;}
.explanatoryNote p{font-size: 0.533333rem;color: #C4AE78;font-weight: 200;}
/*底部*/
.footer{width: 100%;height: 0.933333rem;background-color: #C4AE78;margin-top: -0.06rem;}
.footer span{color: #fff;line-height:0.933333rem; font-size: 0.426667rem;margin-right: 0.64rem;}
.footer span:nth-child(1){margin-left: 0.533333rem;}
/*关于植德*/
.aboutZD{width: 8.666667rem;min-height: 268px;padding-top: 0.746667rem;margin: 0 auto;padding-bottom: 0.746667rem;}
.aboutZD_headline{width: 100%;font-size: 0.426667rem;color: #76442F;margin-top: 0.333333rem;}
.aboutZD_show{font-size: 0.373333rem;color: #666666;margin-top: 0.4rem;line-height: 0.586667rem;}
/*专业人员*/
.lawyer{width: 8.666667rem;min-height: 200px;margin: 0 auto;padding-bottom: 1.333333rem;}
.lawyer .lawyer_headline{width: 100%;color: #76442F;font-size: 0.48rem;padding-top: 1.44rem;}
.lawyer .lawyerList{width: 100%;}
.lawyer .lawyerList li{text-align: center;margin-top: 1.066667rem;}
.lawyer .lawyerList li img{width: 4.48rem;}
.lawyer .lawyerList li h6{color: #76442F;font-size: 0.48rem;font-weight: normal;line-height: 1rem;}
.lawyer .lawyerList li span{font-size: 0.426667rem; line-height: 0.4rem;color: #727171;display: block;text-align: center;}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.our_client h3{ color: #76442F;font-size: 16px;line-height: 26px;margin: 30px 0 10px 0;text-align: left;font-family: "Arial","Microsoft Yahei";}
.fa { display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.fa-link:before {content: "\f0c1";}
/*植德资讯*/
.message{width: 8.4rem;min-height: 300px; margin:0 auto;overflow: hidden;padding-top: 1rem; padding-bottom: 0.666667rem;}
.message ul{width: 49.5%;float: left;}
.message ul li{margin-top: 0.266667rem;}
.message ul li a{color: #76442F;font-size: 0.373333rem;}
.message .mess_R{border-left:1px solid #efefef;}
.message .mess_R li{padding-left: 0.266667rem;}
.message .mess_L li{padding-right: 0.266667rem;}
.mess_page{width: 100%;height: 1rem;text-align: center;margin-bottom: 0.666667rem;}
.mess_page span{font-size: 0.373333rem;color: #76442F;line-height: 1rem;}
/*职业机会*/
.job{width: 8.666667rem;min-height: 268px;padding-top: 0.746667rem;margin: 0 auto;padding-bottom: 0.746667rem;}
.job .job_headline{width: 100%;font-size: 0.48rem;color: #76442F;margin-top: 0.333333rem;}
.job .showimg{width: 100%;margin-top: 0.5rem;}
.job .showimg img{width: 100%;}
.jobList{width: 100%; padding-bottom: 2.4rem;padding-top:0.96rem;}
.jobList h5{color: #76442F;font-size: 0.426667rem;text-align: center;height: 1.866667rem;width: 100%;border: 1px solid #C4AE78;line-height: 1.866667rem; font-weight:normal;}
.jobList div.lawyer_recruit,.jobList div.Internships,.jobList div.secretary{margin-bottom: 0.64rem;}
.jobList div span{font-size: 0.373333rem;color: #76442F;line-height: 0.7rem;}
.require_list{padding-left: 1.2rem;padding-right: 1.2rem;}
.callUS h3{color: #76442F; font-size: 0.426667rem;line-height: 0.693333rem;text-align: left;margin-bottom: 0.266667rem;}
.callUS ul li{width: 100%;color: #A6A6A6;font-size: 0.373333rem;line-height: 0.693333rem;}
.recruit_require{display: none;}
.outShow{border: 1px solid #fff;padding-bottom: 0.533333rem;}
/*地图*/
.my-map { margin-top: 1.333333rem; width: 100%; height: 360px; }
.my-map .icon { background: url(http://lbs.amap.com/console/public/show/marker.png) no-repeat; }
.my-map .icon-cir { height: 31px; width: 28px; }
.my-map .icon-cir-red { background-position: -11px -5px; }
.amap-container{height: 100%;}
/*律师详情*/
.lawyer_details{position: absolute;top: 34%;}
.faL{display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: 0.5rem;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;margin-left: 0.28rem;margin-top: 0.053333rem;}
.fa-chevron-left:before {content: "\f053";}
.lawyer_detailed{width: 9rem;min-height: 300px;margin:0 auto;padding-top: 1rem;padding-bottom: 0.266667rem;}
.lawyer_head{width: 94%;height: 3.6rem;background-color: #EFEFEF;overflow: hidden;padding-top: 0.533333rem;padding-left: 0.533333rem;}
.lawyer_headL{width: 24%;height: 3rem; float: left;}
.lawyer_headR{width: 72%;height: 3rem; float: left;margin-left: 0.266667rem;}
.lawyer_headL .lawyer_pic{width: 100%;height: 3rem;background: url(../images/img_17072809244431999.jpg);background-size: 100% 100%;}
.lawyerName{text-align: left;}
.lawyerName span:nth-child(1){font-size: 0.533333rem;color: #76442F;font-weight: bold;}
.lawyerName span:nth-child(2){font-size: 0.373333rem;color: #727171;display: inline-block;margin-left: 0.266667rem;}
.lawyerInfo{font-size: 0.32rem;color: #76442F;line-height: 0.6rem;margin-top: 0.106667rem;}
.lawyerInfo a{font-size: 0.32rem;line-height: 0.48rem;color: #76442F;display: inline-block;margin-left: 0.1rem;}
.fa-phone:before {content: "\f095";}
.fa-envelope:before {content: "\f0e0";}
.ipNub{margin-top: 0.64rem;}
.ipNub,.email{font-size: 0.32rem;line-height: 0.48rem;color: #76442F;}
.ipNub a,.email a{font-size: 0.32rem;line-height: 0.48rem;color: #76442F;}
.ipNub p,.email p{font-size: 0.32rem;line-height: 0.48rem;color: #76442F;}
.ipNub span,.email span{font-size: 0.32rem;line-height: 0.48rem;color: #76442F;}
.ipNub i,.email i{margin-right: 0.093333rem;}
.lifeStory{width: 100%;min-height: 300px;margin-top: 0.666667rem;}
.lifeStory div{font-size: 0.373333rem; color: #666666;margin-top: 0.266667rem;}
.lifeStory div.life_headline{font-size: 0.426667rem;color: #76442F;}
/*新闻详情*/
.newsHeadline{text-align: center;font-size: 0.426667rem;}
.second_headline{text-align: right;font-size: 0.373333rem;}
/*-jcm-*/
